@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: url(./assets/background.png);
  background-size: cover;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  scroll-padding-top: 80px;
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  width: 280px;
  background-color: rgb(15, 15, 67);
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 10px 10px black;
  transition: all 100ms ease-in-out;
  transform: translateX(-290px);
}
.sidebar.active {
  transition: all 100ms ease-in-out;
  transform: translateX(0px);
}
#sidebar-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  transform: translate(20px, 35px);
}
#sidebar-logo {
  height: 40px;
}
#sidebar-logo-wrapper:hover {
  background: rgb(25, 25, 111);
  cursor: pointer;
}
#sidebar-title-wrapper {
  height: 60px;
  width: 200px;
  transform: translate(80px, -13px);
}
#sidebar-title {
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
}
#categories {
  height: 800px;
  width: 240px;
  transform: translate(20px, 10px);
  display: flex;
  flex-direction: column;
}
.category,
.sidebar-category-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.sidebar-category-container:hover {
  background: rgb(25, 25, 111);
  cursor: pointer;
}
.category {
  color: rgb(190, 190, 190);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}
#trending-a,
#popular-a,
#favorited-a,
#anticipated-a {
  color: rgb(2, 176, 2);
}
#category-border {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: rgb(255, 255, 255);
  width: 170px;
  transform: translateX(20px);
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  background: rgb(6, 6, 27);
  z-index: 1;
}
.nav.hidden {
  filter: brightness(20%);
}
#logo-container {
  display: flex;
  justify-content: center;
  height: 110px;
}
#logo {
  height: 100px;
}
#sidebar-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: 10px;
  height: 50px;
  width: 50px;
  transform: translate(50px, -85px);
}
#sidebar-icon {
  height: 40px;
}
#sidebar-icon-container:hover {
  background: rgb(22, 22, 99);
  cursor: pointer;
}

/* CONTENT */
#content-container {
  height: 4850px;
  transform: translateY(100px);
  background: hsla(0, 0%, 0%, 0.6);
}

/* TRENDING */
#trending-wrapper {
  display: flex;
  flex-direction: row;
  height: 625px;
  display: flex;
}
/* left side info */
#info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 625px;
  width: 50%;
  background: rgb(14, 14, 14);
  color: white;
}
#info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 70px;
}
#info-title img {
  height: 100px;
  margin-left: 20px;
  transform: translate(-15px, -25px);
}
#info-caption {
  font-family: "Montserrat", sans-serif;
}
#info-caption-1 {
  text-align: center;
  font-weight: 300;
  /* transform: translateY(200px); */
}
#info-caption-2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(156, 156, 156);
  transform: translateY(200px);
}
/* right side movies */
#slides-container {
  display: flex;
  flex-direction: column;
  height: 625px;
  width: 50%;
  background: rgba(14, 14, 14, 0.654);
  white-space: nowrap;
  overflow: scroll;
}
#slides-wrapper {
  height: 625px;
}
#slides-wrapper img {
  height: 500px;
  width: auto;
  border-radius: 15px;
  margin-right: 50px;
  transform: translateY(50px);
  -webkit-box-reflect: below 20px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
#slides-wrapper img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05) translateY(40px);
  -moz-transform: scale(1.05) translateY(40px);
  -o-transform: scale(1.05) translateY(40px);
  transform: scale(1.05) translateY(40px);
}
#slides-container img:first-child {
  margin-left: 50px;
}
#slides-caption-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  margin-left: 70px;
  transform: translateY(-20px);
  color: lime;
}

/* POPUP */
.popup {
  z-index: 3;
  position: fixed;
  top: 100vh;
  left: 0px;
  width: 100%;
  height: 100%;
}
.popup .overlay {
  /* position: fixed; */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.869);
  opacity: 0;
  transition: opacity 100ms ease-in-out 200ms;
}
.popup .popup-content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 690px;
  width: 1100px;
  background: rgb(6, 6, 27);
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  transform: translate(-50%, -50%) scale(1.15);
}
/* left side white section */
.popup .popup-poster {
  height: 690px;
  width: 500px;
  margin-right: -40px;
}
.popup .poster-img-wrapper,
.popup .popup-poster-img {
  height: 690px;
  width: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.popup-poster-img {
  object-fit: cover;
  filter: brightness(40%);
}
.popup .popup-poster .main-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 500px;
  background-color: rgb(28, 28, 126);
  border-bottom-left-radius: 20px;
  transform: translate(0px, -80px);
}
.year,
.age-rating,
.duration {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.year-img,
.age-img,
.duration-img {
  height: 30px;
  padding-right: 10px;
}
.duration-img {
  padding-right: 15px;
}
.year-p,
.age-rating p,
.duration p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  transform: translateX(-5px);
}
.popup .popup-info {
  width: 600px;
  height: 690px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.popup.active {
  top: 0px;
  transition: top 0ms ease-in-out 0ms;
}
.popup.active .overlay {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.popup.active .popup-content {
  transform: translate(-50%, -50%) scale(1);
}
/* right side blue section */
.popup-info {
  display: flex;
  flex-direction: column;
}
#exit {
  height: 40px;
  transform: translate(585px, 10px);
}
#exit:hover {
  cursor: pointer;
}
.title {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 60px;
  transform: translate(30px, 70px);
  text-decoration: underline;
  max-width: 540px;
}
.release-title,
.directors-title,
.writers-title,
.actors-title,
.genres-title,
.plot-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 15px;
}
.release,
.directors,
.writers,
.actors,
.genres,
.plot {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 15px;
}
.info-row-1,
.info-row-2,
.info-row-3 {
  display: flex;
  flex-direction: row;
  overflow: visible;
  max-width: 540px;
  transform: translate(30px, 80px);
  padding-bottom: 30px;
}
.directors,
.genres,
.writers,
.actors {
  list-style: none;
}
.release-container,
.directors-container,
.writers-container {
  padding-right: 100px;
}

/* ALL CATEGORIES */
.category-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  transform: translateY(40px);
}
.category-h1 {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: underline;
}
.category-container {
  align-self: normal;
  white-space: nowrap;
  overflow: scroll;
}
.category-poster:first-child {
  margin-left: 20px;
}
.category-poster {
  height: 300px;
  width: 203px;
  margin-right: 20px;
  border-radius: 20px;
  -webkit-filter: brightness(100%);
}
.category-poster:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  background: black;
}
#footer-p-1 {
  transform: translateY(55px);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#footer-p-1:hover {
  color: rgb(135, 135, 135);
}
#footer-p-2 {
  transform: translateY(120px);
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
